name: Sign container images

on:
  workflow_run:
    workflows: ["Build and push multi-arch images"]
    types:
      - completed
  workflow_dispatch:

jobs:
  sign:
    name: Create attestation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['3.2', '3.3', '3.4']
    permissions:
      packages: write
      id-token: write
    steps:
      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      - uses: anchore/sbom-action/download-syft@43a17d6e7add2b5535efe4dcae9952337c479a93  # v0.20.11
        id: syft
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::172025368201:role/github_action_image_attestation"
          role-session-name: sign-govuk-ruby-images
          aws-region: eu-west-1
      - name: Create attestation
        run: |
          BASE_IMAGE='ghcr.io/alphagov/govuk-ruby-base:${{ matrix.version }}'
          BUILDER_IMAGE='ghcr.io/alphagov/govuk-ruby-builder:${{ matrix.version }}'
          SYFT='${{steps.syft.outputs.cmd }}'

          $SYFT --output spdx-json "${BASE_IMAGE}" > base.spdx.json
          $SYFT --output spdx-json "${BUILDER_IMAGE}" > builder.spdx.json

          cosign attest -y --type spdxjson --predicate base.spdx.json --key "awskms:///alias/container-signing-key" "${BASE_IMAGE}"
          cosign attest -y --type spdxjson --predicate builder.spdx.json --key "awskms:///alias/container-signing-key" "${BUILDER_IMAGE}"
